# Ignore Terraform directories and files  
.terraform/  
.terraform.lock.hcl  
terraform.tfstate  
terraform.tfstate.backup  
*.tfvars  
*.tfstate.*  

# Ignore the directories and files
files/
commands.sh



